@import "reset";
@import "ncss";


html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
}

header {
	background-image: url(../img/cream_dust.png);
	background-color: #ccc;
	height: 65px;
	padding-top: 10px;
	border-bottom: 1px solid #51A7E8;
}

.counter {
	float: right;

	&.red {
		color: #d40d12;
	}
}

textarea, input {
	background-color: #FAFAFA;
	border: 1px solid #51A7E8;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
	border-radius: 3px;
	outline: none;
	color: #333;
	line-height: 1.6;
	padding: 10px;
	font-size: 14px;
}

main {
	background-repeat: repeat;
	padding: 10px 0 0 0;
	height: 100%;
}

main.twitter {
	background-repeat: no-repeat;
}

body.twitter-color {
	background-color: #C0DEED;
}

#goto {
	width: 70%;
}

#dashboard {
	width: 190px;
	text-align: center;
	margin-right: 10px;
	border: 1px solid #51A7E8;
	padding: 10px 0;
	background-color: #FAFAFA;
	border-radius: 3px;
}

#dashboard .image {
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
}

h2 {
	font-weight: bold;
}

#dashboard .image, #dashboard .image img {
	vertical-align: top;
}

#content {
	width: 500px;

	iframe {
		margin-top: 0px !important;
		margin-right: 0px !important;
		max-width: 100% !important;
	}

	blockquote {
		border: 1px solid;
		border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
		background-color: #fff;
		padding: 20px 10px;
		margin-bottom: 10px;
		text-align: center;
		font-size: 12px;
		border-radius: 5px;
		color: #444;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
	}
}


#content textarea {
	width: 100%;
	resize: vertical;
	height: 5em;
}

#content textarea:focus {
	background-color: #fff;
}

.disclaimer {
	color: #444;
	font-size: 10px;
}

@media screen and (max-width: 700px) {
	#content {
		margin-top: 10px;
	}
}


#messages, #empty {
	margin-top: 10px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #51A7E8;
}

#empty {
	padding: 10px;
}

#messages li {
	padding: 10px;
	border-top: 1px solid #ddd;
	font-size: 12px;
}

#messages li:first-child {
	border-top: 0px;
}

.message .info {
	margin-top: 1em;
	font-size: 10px;
	color: #aaa;
}

.block {
	background-color: #EEE;
	padding: 3px;
	border-radius: 3px;
}

.chrome {
	font-size: 12px
}