<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>TweetOpinion!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" href="/assets/dev/css/app.css" />
        <meta name="description" content="To brave people. Give your honest opinion about a twitter user from the safety of being anonymous" />

        <script src="/assets/dev/js/vendor/jquery-1.9.1.min.js"></script>
    </head>
    <body>
        <header></header>

        <main>
            <form class="row layout small center" action="/" >
               
                <input type="text" name="screen_name" placeholder="Write a username and press enter" id="goto" />
            </form>
        </main>

        <script data-main="/assets/dev/js/app.js" src="/assets/dev/js/vendor/require.js"></script>
    </body>
</html>